body {
    font-family: 'Roboto', sans-serif !important;
}

#upload-button {
  margin-inline: auto;
}

#container {
  display: grid;
  grid-template-areas:
  "graph"
  "table"
  "overview";
}

.zone {
    padding: 10px;
    margin: 10px;
}

#graph {
  grid-area: graph;
  max-height: 70vh;
}

#overview {
  grid-area: overview;
}

#table {
  grid-area: table;
  height: 50vh;
}

table {
  margin: auto;
}

td {
    line-break: anywhere;
}

thead {
  position: sticky;
  top: -15px;
  text-align: center;
}

.single {
  width: 20px;
}

.multiple {
  width: 40px;
}
