body {
    font-family: 'Roboto', sans-serif !important;
    background-color: white;
}

#legend {
  position: absolute;
  right: 100px;
}

.pitch {
  margin-right: 360px;
}

#upload-button {
  margin-inline: auto;
  margin-top: -60px;
}

#container {
  display: grid;
  grid-template-areas:
  "graph"
  "table"
  "overview";
}

.zone {
    padding: 10px;
    margin: 10px;
}

.hidden {
  display: none;
}

.accordion-button:not(.collapsed) {
  background-color: white!important;
  color: black!important;
}

#graph {
  grid-area: graph;
}

#table {
  grid-area: table;
  max-height: 50vh;
}

table {
  margin: auto;
}

td {
    line-break: anywhere;
}

thead {
  position: sticky;
  top: -15px;
  text-align: center;
}

.single {
  width: 20px;
  
}

.tooltip > .tooltip-inner {
  text-align: start;
  max-width: fit-content;
}

.multiple {
  width: 40px;
  cursor: pointer;
}

#overview {
  grid-area: overview;
}

.block {
  max-width: 200px;
  margin-inline: 20px;
  text-align: center;
}

.block > p {
  width: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg) scale(0.1);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}